<html>
  <head>
    <title>RailsMisterCocktail</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="all" href="/assets/application.scss" />
  </head>

<body style="background-color: #0A313B;">
  <div class="banner d-flex">
   <div class="container">
    <h1>Welcome to My Cocktail Creater</h1>
    <p>Make Amazing Cocktails</p>
   </div>
  </div>

</body>



<div class="text-white text-center">
  <%= image_tag "image.jpg", width: 350, class: "text-center" %>
</div>

<div class="card-columns">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <%= cl_image_tag cocktail.photo.key, width:364 , height: 180,  crop: :lfill, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
        <p class="card-text">This content is a little bit longer.</p>
      </div>
    </div>
  <% end %>
</div>

</body>
