<div class="container ml-6 mt-3">

  <h1 class="text-black text-center" style = "font-family: 'Abril Fatface', cursive;"><%= @cocktail.name %></h1>
  <div class="d-flex justify-content-center">
    <div class="big-card">
    <%= cl_image_tag @cocktail.photo.key, width:364, height: 450,  crop: :lfill %>
    <div class="card">
        <h5 class="card-header" style = "font-family: 'Abril Fatface', cursive;">Ingredients</h5>
        <div class="card-body">
      <% @cocktail.doses.each do |dose| %>
        <p class="card-text d-flex-inline"><%= "#{dose.description} #{dose.ingredient.name}" %>
        <span class="badge badge-pill"><%= link_to 'delete', dose_path(dose), method: 'DELETE'%></span></p>
      <% end %>
    </div>
  </div>
</div>
