.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  font-weight:bold;
}

.btn-banner {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-top: 15px;
  margin-right: 150px;
}

.btn-banner:hover {
  font-weight: bold;
}

.nav-link {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 900;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.nav-link {
    color: black;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: 900;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.nav-link:hover {
  opacity: 1;
}
